<?xml version="1.0" encoding="UTF-8"?>
<?component name="divarrow" macro-uri="/theme/tempo/zul/calendar/divarrow.zul"?>
<zk>
<zscript><![CDATA[
	var calendarIcon = org.adempiere.webui.theme.ThemeManager.getThemeResource("images/Calendar16.png");
	import org.compiere.util.Msg;
	import org.compiere.util.Env;
    import org.compiere.util.Util;
	var today = Msg.getMsg(Env.getCtx(),"Today");
	var refresh = Util.cleanAmp(Msg.getMsg(Env.getCtx(),"Refresh"));
]]></zscript>
<style src="/theme/tempo/zul/calendar/calendar.css"/>
<calendars firstDayOfWeek="Monday" mold="month" id="cal" xmlns:w="client" w:onBind="try{_overrideMsgCal(); var me=this; setTimeout(function(){me.onSize();},50); }catch(error){} ">
	<toolbar sclass="calendar-toolbar">
		<div class="float-left">
			<hbox align="center">
				<divarrow id="divArrowLeft" type="arrow-left"/>
				<divarrow id="divArrowRight" type="arrow-right"/>
				<div>
					<button id="btnCurrentDate" label="${today}" sclass="btn-small"/>
				    <separator orient="vertical" spacing="2px"/>
					<label id="lblDate"/>
					<toolbarbutton id="btnRefresh" label="${refresh}" class="refresh"/>
					<toolbarbutton id="btnCal" image="${calendarIcon}"/>
				</div>
			</hbox>
		</div>
	</toolbar>
</calendars>
</zk>